/* doing the basic initial setting for the page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    color: #333;
    margin-bottom: 80px;
}

/* styling for the header section */
header {
    background-color: #5F4B8B;
    color: #FFF;
    text-align: center;
    height: 5%;
    padding: 1em;
    display: flex;
    font-family: 'Merriweather', serif;
}


.logo{
    width: 15%;
}

.navbar > nav > ul{
    display: flex;
}

/* removing the styling of the nav links */
a:link, a:visited {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* custom designing for the nav links */
.nav-item{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    color: #fff;
    font-size: 2em;
    padding-bottom: 10px;
    margin-right: 55px;
}

/* customizing search bar */
.search-bar{
    margin-top: 35px;
    margin-left: 7%;
    width: 20%;
}
#search{
    border: 1px #fff;
    border-radius: 60%;
    height: 20px;
    width: 60%;
}
/* attempt to adjust position of svg */
#svg{
    margin-top: 10px;
}

/* settings for the main section */
main {
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}
.two-column-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
}

.two-column-section .column {
    width: 48%;
    margin-bottom: 20px;
}

.two-column-section img {
    width: 100%;
    border-radius: 8px;
}

h2 {
    color: #5F4B8B;
}

p {
    line-height: 1.5;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #EDEDED;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
}

.slideshow-container {
    width: 600px;
    height: 450px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
}

/* Dots styling for the slideshow */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}
#footer_logo{
    width: 110px;
    border-radius: 60%;
}

footer {
    background-color: #5F4B8B;
    color: #FFF;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
    header {
        flex-direction: column;
        width: 150%;
    }

    .logo,
    .search-bar {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-item {
        margin-left: 0;
        margin-right: 0;
    }

    section{
        align-items: center;
    }
}
